body {
    background-color: #1d1d1d !important;
    color: white;
    margin: 10px;
    font-size: 16px;
}

.nav li a,
a:hover,
a:focus {
    color: white;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav li:hover {
    background-color: #444444;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #1d1d1d;
    background-color: orange;
}

a {
    color: #98CE00;
}

a:hover,
a:focus {
    color: white;
}

.fancybox-skin {
    background-color: #292d2f;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hitno {
    position: absolute;
    right: 40px;
    width: 215px;
}