body {
    background-color: #1d1d1d !important;
    color: white;
    margin: 10px;
    font-size: 16px;
}

.nav li a,
a:hover,
a:focus {
    color: white;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav li:hover {
    background-color: #444444;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #1d1d1d;
    background-color: orange;
}

div.navbar-header a.navbar-brand {
    color: orange;
}

a {
    color: #98CE00;
}

a:hover,
a:focus {
    color: white;
}

.fancybox-skin {
    background-color: #292d2f;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hitno {
    position: absolute;
    right: 40px;
    width: 215px;
}

.rel {
    position: relative;
    padding-bottom: 50px;
}

.rel>h2 {
    text-align: center;
    height: 85px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.side-img {
    float: right;
    padding-left: 10px;
}

ul.phone {
    padding: 0;
}

.phone>li {
    list-style-position: inside;
}

@media (max-width: 1200px) {
    .hitno {
        position: relative;
        right: unset;
        width: unset;
    }
}